# Harbor
harbor_admin_password =

# Docker Hub
docker_hub_username =
docker_hub_password =
docker_hub_email    =

# GitHub
github_username =
github_password =

# MetalLB
metallb_ip_address_range = "192.168.1.18-192.168.1.19"

# CA
root_ca_password = "oQzf9dD6uDZmgnAV45hEHHtg0jG6L488"
