# Kubernetes and Helm Provider
kubernetes_config_path = "~/.kube/harbor-config"
Kubernetes_config_context = "admin@harbor"

# Harbor
harbor_admin_password = "supersecretpassword"
harbor_domain = "harbor.local"
harbor_url = "https://harbor.local"

# Docker Hub
docker_hub_username = "your-user-name"
docker_hub_password = "your-access-token"
docker_hub_email    = "me@example.com"

# GitHub, optional, if you do not specify one of the variables the GitHub registry cache will not be created
github_username = "your-user-name"
github_password = "your-access-token"

# MetalLB
metallb_ip_address_range = "192.168.1.18-192.168.1.19"

# CA
root_ca_password = "oQzf9dD6uDZmgnAV45hEHHtg0jG6L488"
